.app-wrapper {
  display: grid;
  grid-template-areas: 'header header header''sidebar content content';
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}